In [1]:
import spacy
nlp = spacy.load("en")
import pandas as pd
import numpy as np
import re

In [2]:
#import json
#import pandas as pd
#from pandas.io.json import json_normalize # #package for flattening json in pandas df
#load json object
#with open('stree_comment.json') as f:
#    d = json.load(f)
    
#lets put the data into a pandas df
#clicking on raw_nyc_phil.json under "Input Files"
#tells us parent node is 'programs'
#nycphil = json_normalize(d)
#nycphil.head(3)
df = pd.read_csv("stree_comment.csv")

In [3]:
df.head()

,Unnamed: 0,comment,helpfulness,out_of,rated,title,userid
0,0,A very well mixture of comedy and horror. Rema...,45 out of 51 found this helpful,10.0,9.0,Must watch,rameshkumariimt
1,1,One of the best Indian horror comedy movie i h...,47 out of 54 found this helpful,10.0,9.0,Honest stree review,shardulneeraj
2,2,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...,29 out of 34 found this helpful,10.0,9.0,One of the most original movie of 2018,dpshrs
3,3,A zany supernatural parable that is both stron...,29 out of 34 found this helpful,10.0,10.0,Terrific In Madcap Film,nsanjay-76795
4,4,A very good combination of horror+comedy. Beau...,21 out of 25 found this helpful,10.0,10.0,Talent bhar bhar k,sharmaakshat-63166

In [67]:
#Tokenizing words using Spacy
def countWordsBySpacy(sentence):
    return len(nlp(str(sentence)))

In [69]:
#Word Count in comment
df['word_count'] = df['comment'].apply(lambda x: len(str(x).split(" ")));
df['word_count_spacy'] = df['comment'].apply(lambda x : countWordsBySpacy(x))
df[['comment','word_count_spacy','word_count']].head(10)

,comment,word_count_spacy,word_count
0,A very well mixture of comedy and horror. Rema...,33,29
1,One of the best Indian horror comedy movie i h...,82,75
2,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...,28,22
3,A zany supernatural parable that is both stron...,132,111
4,A very good combination of horror+comedy. Beau...,27,25
5,"Complete package of Horror-comedy,superb actin...",39,30
6,Great works by all performers. Soundtrack too ...,9,8
7,For me Stree is worth watching as i have reall...,121,111
8,Can't really tell because both of the genre's ...,37,32
9,NaN,1,1

In [71]:
#Number of characters
df['char_count'] = df['comment'].str.len()
df[['comment', 'char_count']].head(10)

                                             comment  char_count
0  A very well mixture of comedy and horror. Rema...       156.0
1  One of the best Indian horror comedy movie i h...       381.0
2  BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...       128.0
3  A zany supernatural parable that is both stron...       674.0
4  A very good combination of horror+comedy. Beau...       157.0
5  Complete package of Horror-comedy,superb actin...       210.0
6  Great works by all performers. Soundtrack too ...        50.0
7  For me Stree is worth watching as i have reall...       622.0
8  Can't really tell because both of the genre's ...       169.0
9                                                NaN         NaN

In [81]:
#Average Word Length
def avg_word_stats(sentence):  
    #print(len(str(sentence)))
    words = str(sentence).split()
    if len(words) > 1:
        return (sum(len(word) for word in words)/len(words))
    else:
        return 0
df['avg_word'] = df['comment'].apply(lambda x: avg_word_stats(x))
df[['comment', 'avg_word']].head(10)

                                             comment  avg_word
0  A very well mixture of comedy and horror. Rema...  4.413793
1  One of the best Indian horror comedy movie i h...  4.093333
2  BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...  4.863636
3  A zany supernatural parable that is both stron...  5.000000
4  A very good combination of horror+comedy. Beau...  5.320000
5  Complete package of Horror-comedy,superb actin...  6.033333
6  Great works by all performers. Soundtrack too ...  5.375000
7  For me Stree is worth watching as i have reall...  4.612613
8  Can't really tell because both of the genre's ...  4.312500
9                                                NaN  0.000000

In [83]:
#Number of stopwords
from spacy.lang.en.stop_words import STOP_WORDS

def countStopWords(sentence):
    noOdStopWord = 0;
    comment = nlp(str(sentence))
    for word in comment:
        if word.is_stop:
            noOdStopWord += 1
    return noOdStopWord

df['stopword_count'] = df['comment'].apply(lambda x : countStopWords(x))

In [84]:
df[['comment', 'word_count', 'stopword_count']].head(10)

,comment,word_count,stopword_count
0,A very well mixture of comedy and horror. Rema...,29,14
1,One of the best Indian horror comedy movie i h...,75,40
2,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...,22,10
3,A zany supernatural parable that is both stron...,111,49
4,A very good combination of horror+comedy. Beau...,25,9
5,"Complete package of Horror-comedy,superb actin...",30,12
6,Great works by all performers. Soundtrack too ...,8,3
7,For me Stree is worth watching as i have reall...,111,64
8,Can't really tell because both of the genre's ...,32,18
9,NaN,1,0

In [85]:
regex  = re.compile(r"[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]")
match = regex.findall("nature 09 i9s 91 #awesome #india")
len(match)

2

In [88]:
def countSpecialChar(sentence):
    regex  = re.compile(r"[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]")
    return len(regex.findall(str(sentence)))

In [89]:
df['specialchar_count'] = df['comment'].apply(lambda x : countSpecialChar(x))

In [90]:
df[['comment', 'word_count', 'stopword_count','specialchar_count']].head(10)

,comment,word_count,stopword_count,specialchar_count
0,A very well mixture of comedy and horror. Rema...,29,14,4
1,One of the best Indian horror comedy movie i h...,75,40,13
2,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...,22,10,8
3,A zany supernatural parable that is both stron...,111,49,18
4,A very good combination of horror+comedy. Beau...,25,9,3
5,"Complete package of Horror-comedy,superb actin...",30,12,6
6,Great works by all performers. Soundtrack too ...,8,3,1
7,For me Stree is worth watching as i have reall...,111,64,6
8,Can't really tell because both of the genre's ...,32,18,5
9,NaN,1,0,0

In [91]:
#Number of numerics
def countNumericAllValue(sentence):
    regex  = re.compile(r"[0-9]")
    return len(regex.findall(str(sentence)))

In [92]:
df['allnumber_count'] = df['comment'].apply(lambda x : countNumericAllValue(x))

In [93]:
df[['comment', 'stopword_count','specialchar_count', 'allnumber_count']].head(10)

,comment,stopword_count,specialchar_count,allnumber_count
0,A very well mixture of comedy and horror. Rema...,14,4,0
1,One of the best Indian horror comedy movie i h...,40,13,3
2,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...,10,8,0
3,A zany supernatural parable that is both stron...,49,18,0
4,A very good combination of horror+comedy. Beau...,9,3,0
5,"Complete package of Horror-comedy,superb actin...",12,6,0
6,Great works by all performers. Soundtrack too ...,3,1,0
7,For me Stree is worth watching as i have reall...,64,6,0
8,Can't really tell because both of the genre's ...,18,5,0
9,NaN,0,0,0

In [98]:
df['comment'][0]

'A very well mixture of comedy and horror. Remarkable acting of all actors. I had to close my eyes at some point in the movie. Full package of entertainment.'

In [95]:
 #Number of Uppercase words    
def countUpperCase(sentence):
    regex  = re.compile(r"[A-Z]")
    return len(regex.findall(str(sentence)))
df['uppercase_count'] = df['comment'].apply(lambda x : countUpperCase(x))

In [96]:
df[['comment', 'uppercase_count','specialchar_count', 'allnumber_count']].head(10)

,comment,uppercase_count,specialchar_count,allnumber_count
0,A very well mixture of comedy and horror. Rema...,4,4,0
1,One of the best Indian horror comedy movie i h...,4,13,3
2,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...,40,8,0
3,A zany supernatural parable that is both stron...,6,18,0
4,A very good combination of horror+comedy. Beau...,4,3,0
5,"Complete package of Horror-comedy,superb actin...",4,6,0
6,Great works by all performers. Soundtrack too ...,2,1,0
7,For me Stree is worth watching as i have reall...,16,6,0
8,Can't really tell because both of the genre's ...,3,5,0
9,NaN,0,0,0

 ###Basic Pre-processing

In [103]:
# to lowercase
def toLowerCase(sentences):
    tokens = nlp(str(sentences))
    return " ".join(token.text.lower() for token in tokens)

df['comment_tolower'] = df['comment'].apply(lambda x: toLowerCase(x))
df[['comment_tolower', 'comment']].head(10)

,comment_tolower,comment
0,a very well mixture of comedy and horror . rem...,A very well mixture of comedy and horror. Rema...
1,one of the best indian horror comedy movie i h...,One of the best Indian horror comedy movie i h...
2,best horror comedy film after bhool bhulaiyaa ...,BEST HORROR COMEDY FILM AFTER BHOOL BHULAIYAA!...
3,a zany supernatural parable that is both stron...,A zany supernatural parable that is both stron...
4,a very good combination of horror+comedy . bea...,A very good combination of horror+comedy. Beau...
5,"complete package of horror - comedy , superb a...","Complete package of Horror-comedy,superb actin..."
6,great works by all performers . soundtrack too...,Great works by all performers. Soundtrack too ...
7,for me stree is worth watching as i have reall...,For me Stree is worth watching as i have reall...
8,ca n't really tell because both of the genre '...,Can't really tell because both of the genre's ...
9,nan,NaN

In [115]:
def removePunctuations(sentences):
    tokens = nlp(str(sentences))
    return " ".join([token.text for token in tokens if token.is_punct == False])
    #for token in tokens:
     #   if token.is_punct == False:
     #       print(token)

In [106]:
df['comment'][0]

'A very well mixture of comedy and horror. Remarkable acting of all actors. I had to close my eyes at some point in the movie. Full package of entertainment.'

In [116]:
removePunctuations(df['comment'][0])

'A very well mixture of comedy and horror Remarkable acting of all actors I had to close my eyes at some point in the movie Full package of entertainment'

In [6]:
#doc = nlp(df['comment'][0])

In [7]:
#simillarity
#list(doc.sents)[0].similarity(list(doc.sents)[0])

1.0000001204829292

In [8]:
#ents = list(doc.ents)

In [9]:
#doc = nlp(df['comment'][0])

In [10]:
#for token in doc:
#    print(token.text, token.pos_, token.dep_)

In [11]:
#for token in doc:
#    print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
#          token.shape_, token.is_alpha, token.is_stop)

A a DET DT det X True False
very very ADV RB advmod xxxx True True
well well ADV RB amod xxxx True True
mixture mixture NOUN NN ROOT xxxx True False
of of ADP IN prep xx True True
comedy comedy NOUN NN pobj xxxx True False
and and CCONJ CC cc xxx True True
horror horror NOUN NN conj xxxx True False
. . PUNCT . punct . False False
Remarkable remarkable ADJ JJ amod Xxxxx True False
acting acting NOUN NN ROOT xxxx True False
of of ADP IN prep xx True True
all all DET DT det xxx True True
actors actor NOUN NNS pobj xxxx True False
. . PUNCT . punct . False False
I -PRON- PRON PRP nsubj X True False
had have VERB VBD ROOT xxx True True
to to PART TO aux xx True True
close close VERB VB xcomp xxxx True False
my -PRON- ADJ PRP$ poss xx True True
eyes eye NOUN NNS dobj xxxx True False
at at ADP IN prep xx True True
some some DET DT det xxxx True True
point point NOUN NN pobj xxxx True False
in in ADP IN prep xx True True
the the DET DT det xxx True True
movie movie NOUN NN pobj xxxx True False
. . PUNCT . punct . False False
Full full ADJ JJ amod Xxxx True False
package package NOUN NN ROOT xxxx True False
of of ADP IN prep xx True True
entertainment entertainment NOUN NN pobj xxxx True False
. . PUNCT . punct . False False

In [12]:
#f = open('only_comments.txt', "r",encoding='utf8')
#lines = f.readlines()
#f.close()
#print(lines)

In [38]:
comments_list = df['comment'].tolist()

In [39]:
len(comments_list)

395

In [40]:
comments_string = ''.join(comments_list)

In [95]:
# Given a list of words, return a dictionary of
# word-frequency pairs.

def wordListToFreqDict(wordlist):
    wordfreq = [wordlist.count(p) for p in wordlist]
    return dict(zip(wordlist,wordfreq))

In [42]:
wordList = []
for token in doc:
    wordList.append(token.text)

In [97]:
#wordlist = comments_string.split()
print(len(wordList))
comments_freq_dict = wordListToFreqDict(wordList)

29000

In [45]:
len(comments_freq_dict)

4116

In [92]:
wordsDataframe = pd.DataFrame(list(comments_freq_dict.items()),columns=['Word', 'Frequency'])

In [76]:
#s = pd.Series(comments_freq_dict, name='Frequency')
#s.index.name = 'word'
#s.reset_index()

In [93]:
wordsDataframe.shape

(4116, 2)

In [126]:
morethan15 = wordsDataframe[wordsDataframe['Frequency'] > 15].copy()

In [129]:
morethan15[['Frequency','Word']].to_csv('wordfreq.csv')

(4116, 1)

In [21]:
# Spacy tokenization
doc = nlp(comments_string)

In [22]:
#wordsDF = pd.DataFrame(wordsSeries)
#doc

In [23]:
len(wordList)

33

In [24]:
from spacy.lang.en.stop_words import STOP_WORDS

In [25]:
print(len(STOP_WORDS))

305